.navigation > a {
  height: 55.72px;
}

/* Crumbs */

.crumbs {
  margin-bottom: 16px;
}

.crumbs-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.crumbs-item {
  margin-right: 20px;
}

.crumbs-item:not(:first-child) {
  list-style-image: url(../images/chevrons-right.svg);
}

.crumbs-item:last-child {
  /* text-decoration: underline; */
  border-bottom: 1px solid #2D3440;
}

.crumbs-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.crumbs-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
  margin: 0;
  margin-bottom: 40px;
}


/* Filters */

.filter {
  margin-bottom: 95px;
}

.filter-form {
  display: grid;
  grid-template-columns: 196px 24px 196px 24px 164px 16px 189px 14px;
  row-gap: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.filter-form-label {
  margin-left: 16px;
}

.filter-block-sorting {
  grid-column: 1/2;
}

.filter-block-price {
  grid-column: 3/4;
}

.filter-block-fat {
  grid-column: 5/-1;
}

.filter-block-check {
  grid-column: 1/6;
}

.filter-button {
  grid-column: 7/8;
}

.filter-form-label {
  margin-bottom: 8px;
}

.filter-group {
  margin: 8px 0 0;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 18px;
  box-sizing: border-box;
}

.filter-group label:not(:last-child) {
  margin-right: 16px;
}

.filter-group-fat {
  padding: 8px 24px;
}

.filter-group-check {
  padding: 10px 24px;
}

.filter-form-select {
  border: none;
  border-radius: 20px;
  background: rgba(252, 252, 252, 0.3);
  color: #2D3440;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  padding: 8px 13px 8px 16px;
  font-family: 'Inter', sans-serif;
}

.filter-button {
  align-self: end;
  padding: 8px 52.5px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 20px;
}

/* Cards */

.cards {
  margin-bottom: 81px;
}

.card-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 91px 30px;
  margin-bottom: 57px;
}

.card-item {
  width: 270px;
  height: 281px;
  background: #FCFCFC;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 0 40px 24px;
  display: flex;
  flex-direction: column;
}

.card-item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: 0;
}

.card-item-text {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 16px;
  margin-top: 0;
}

.card-item-img {
  order: -11;
  position: relative;
  left: 11px;
  top: -51px;
  margin-bottom: -35px;
}

.card-item-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-item-footer-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.card-item-footer-btn {
  background-color: #FF2F64;
  width: 32px;
  height: 32px;
  border-radius: 26px;
  border: none;
  background-image: url(../images/cart-white.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 51% 60%;
}


/* Pagination */

.card-footer {
  display: flex;
  justify-content: end;
  align-items: center;
}

.cards-button.button {
  background: #FCFCFC;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  color: #2D3440;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 168px;
  height: 24px;
  margin-left: 335px;
}

.pagination-btn {
  width: 16px;
  height: 16px;
}

.pagination-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination-item {
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.pagination-active {
  background-color: #fcfcfc;
}

.pagination-item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
  margin: auto;
  box-sizing: border-box;
  padding: 2px 6px 1px;
  border-radius: 50%;
}

.pagination-item:first-child .pagination-item-link {
  padding: 2px 7px 1px;
}


/* Footer */

.catalog-footer {
  border-top: 1px solid rgba(252, 252, 252, 0.3);
}
