.crumbs {
  margin-bottom: 16px;
}

.crumbs-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.crumbs-item {
  margin-right: 20px;
}

.crumbs-item:not(:first-child) {
  list-style-image: url(../images/chevrons-right.svg);
}

.crumbs-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.crumbs-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
  margin: 0;
  margin-bottom: 40px;
}
