@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

/*===========================*/

/* Sticky footer */

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}


/* Finish sticky footer */

/* Header */

body {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 0;

  background-color: #FEAFC3;
  color: #2D3440
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding: 12px 32px;
  min-width: 123px;
  /* min-height: 44px; */
  background: #FF2F64;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  color: #FCFCFC;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  border: none;
  box-sizing: border-box;
}

.navigation {
  display: grid;
  grid-template-columns: 153px 422px 164px 431px;
  align-items: center;
  line-height: 20px;
  margin: 24px 0;
}

.navigation-item-search {
  width: 32px;
  height: 32px;
}

.navigation-link-search {
  display: block;
  width: 32px;
  height: 32px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 27px;
}

.navigation-link-search-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-list-menu {
  justify-content: center;
}

.navigation-list-button {
  align-items: center;
  grid-column: -1/4;
}

.navigation-list-button .navigation-item:not(:last-child) {
  margin-right: 16px;
}

.navigation-link {
  color: #2D3440;
  text-decoration: none;
  position: relative;
}

.navigation-link-catalog::after {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../images/arrow-down.svg);
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(6px);
}

.navigation-link-enter, .navigation-link-card {
  padding: 6px 16px 6px 38px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  font-size: 14px;
}

.navigation-link-enter::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-22px);
  background-image: url(../images/entry.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.navigation-link-card-adget {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.navigation-link-card::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-22px);
  background-image: url(../images/cart.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.navigation-list-button .navigation-link:hover {
  background: rgba(252, 252, 252, 0.5);
}

.navigation-list-button .navigation-link:active {
  background-color: #FCFCFC;
  opacity: 1;
}

.navigation-list-button .navigation-link:focus-visible {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid #000000;
  outline-offset: 0;
}

.navigation-list-menu .navigation-link {
  padding: 8px 16px;
  box-sizing: border-box;
}

.navigation-link.navigation-link-catalog {
  padding: 8px 38px 8px 16px;
}

.navigation-list-menu .navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.navigation-list-menu .navigation-link:active {
  background-color: #FCFCFC;
  border-radius: 30px;
}

.navigation-list-menu .navigation-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid #2D3440;
  border-radius: 30px;
  outline: none;
  padding: 6px 14px;
}

.navigation-list-menu .navigation-link-catalog:focus {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid #2D3440;
  border-radius: 30px;
  outline: none;
  padding: 6px 36px 6px 14px;
}

.navigation-link-phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.section-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2D3440;
  margin: 0;
}



.popup {
  position: absolute;
  background-color: #FCFCFC;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
  box-sizing: border-box;
  transform: translateY(14px);
  display: none;
}

.navigation-link-catalog {
  position: relative;
}

.popup-open {
  display: block;
}

.popup-catalog {
  min-width: 135px;
  /* padding: 16px 16px 14px; */
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.popup-catalog-title {
  padding: 16px 16px 0 16px;
  padding-bottom: 12px;
  /* border-bottom: 1px solid #B9B9B9; */
  margin: 0;
  /* margin-bottom: 4px; */
  font-weight: 700;
}

.popup-catalog-line {
  /* min-width: 103px; */
  height: 1px;
  margin: 0 16px;
  background-color: #B9B9B9;
}

.popup-catalog-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.popup-catalog-item {
  display: flex;
}

.popup-catalog-item:first-child {
  margin-top: 4px;
}

.popup-catalog-item-link {
  width: 100%;
  padding: 6px 16px;
  text-decoration: none;
  color: inherit;
  font: inherit;
}

.popup-catalog-item-link:hover {
  background-color: #FFCBD8;
}

.popup-catalog-item-link:active {
  background-color: #FF7799;
}

.popup-catalog-item-link:focus-visible {
  background-color: #FF4A78;
  color: #FCFCFC;
  border: none;
  outline: none;
}

.popup-search {
  z-index: 1;
  right: 0;
  top: 16px;
  transform: translateY(24px);
  padding: 24px 16px;
}

.navigation-link-search {
  position: relative;
}

.search-input {
  padding: 14px 16px;
  width: 324px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

.search-input::placeholder {
  color: #B9B9B9;
}

.search-input:hover {
  border: 1px solid #2D3440;
  outline: none;
}

.search-input:focus {
  outline: 2px solid #2D3440;
  outline-offset: -1px;
  /* outline: none; */
}

.search-input:disabled {
  background-color: #E7E7E7;
  border: 1px solid #B9B9B9;
  color: #2D3440;
  opacity: 0.65;
}

.search-input:disabled:hover {
  opacity: 1;
}

.navigation-list-button .navigation-item:nth-child(3) {
  position: relative;
}

.popup-enter {
  z-index: 1;
  right: 0;
  padding: 48px 48px 52px;
}

.popup-enter-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 32px;
}

.popup-enter-form {
  width: 324px;
  display: grid;
  grid-template-columns: 113px 1fr;
  column-gap: 23px;
}

.popup-enter-input {
  grid-column: 1/-1;
  margin-bottom: 16px;
  padding: 14px 16px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

 .popup-enter-input-last {
  margin-bottom: 32px;
}

.popup-enter-form .popup-enter-button {
  min-width: 50px;
}

.popup-enter-link {
  display: block;
  width: fit-content;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
  color: #2D3440;
  border-bottom: 1px solid #2D3440;
}

.popup-enter-link:not(:last-child) {
  margin-bottom: 4px;
}

.navigation-item:last-child {
  position: relative;
}

.popup-card {
  padding: 48px;
  right: 0;
  z-index: 3;
}

.popup-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  margin: 0;
  margin-bottom: 32px;
}

.popup-card-list {
  list-style-type: none;
  padding: 0;
  padding-bottom: 32px;
  border-bottom: 1px solid #E7E7E7;
  margin-bottom: 32px;
}

.popup-card-item {
  display: flex;
  min-width: 345px;
  align-items: center;
}

.popup-card-item:not(:last-child) {
  margin-bottom: 24px;
}

.popup-card-item-img {
  margin-right: 16px;
  width: 46px;
  height: 46px;
}

.popup-card-item-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.popup-card-name {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2D3440;
}

.popup-card-info {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #B9B9B9;
}

.popup-card-price {
  margin: 0;
  margin-right: 52px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2D3440;
}

.popup-card-item-delete {
  width: 16px;
  height: 16px;
  position: relative;
  background-color: transparent;
  border: none;
}

.popup-card-item-delete::before, .popup-card-item-delete::after {
  content: "";
  width: 13.5px;
  height: 1.33px;
  background-color: #2D3440;
  position: absolute;
  border-radius: 1px;
}

.popup-card-item-delete::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.popup-card-item-delete::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.popup-card-button {
  text-decoration: none;
}

.popup-card-footer {
  display: flex;
  align-items: center;
}

.popup-card-button {
  margin-right: auto;
}

.popup-card-total-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2D3440;
}

.popup-card-total-number {
  margin-right: 2px;
}

.popup-card-empty {
  min-width: 288px;
  padding: 48px 0;
  right: 0;
}

.popup-card-empty-text {
  margin: auto;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #2D3440;
}





/*  */

/* Main-index */

/* Slider */

.slider {
  margin-top: 21px;
  margin-bottom: 80px;
}

.slider-text-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  width: 470px;
  margin-top: 0;
  margin-bottom: 24px;
}

.slider-text-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: 429px;
  margin-bottom: 48px;
}

.slider-text-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 46px;
  color: #2D3440;
  text-decoration: none;
  padding: 12px 32px;
  background: #FCFCFC;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  box-sizing: border-box;
}

.button-white:hover {
  background: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
}

.button-white:active {
  outline: 2px solid #2D3440;
}

.button-white:focus {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
}

.slider-main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.slider-text {
  margin-left: 70px;
  margin-right: 21px;
  /* margin-top: 19px; */
}

.slider-block {
  display: flex;
  align-items: center;
}

.slider-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.slider-button {
  padding: 11px;
  box-sizing: border-box;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 26px;
  line-height: 0;
  fill: #FCFCFC;
}

.slider-button:hover {
  background: #FCFCFC;
  fill: #2D3440;
}

.slider-button:active {
  background: rgba(252, 252, 252, 0.5);
  fill: #2D3440;
  border-color: rgba(252, 252, 252, 0);
}

.slider-button:focus-visible {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #2D3440;
  fill: #2D3440;
  outline: none;
}

.slider-button:disabled {
  background: rgba(252, 252, 252, 0.3);
  opacity: 0.4;
  border: 2px solid #FCFCFC;
  border-radius: 26px;
}

.slider-block-wrapper {
  position: relative;
  width: 100px;
  height: 150px;
}

.slider-block-wrapper:nth-child(1) {
  margin-right: 37px;
}

.slider-block-wrapper:nth-child(2) {
  margin-right: 41px;
}

.slider-block-active {
  width: 350px;
  height: 507px;
}

.slider-block-active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 312px;
  height: 312px;
  background-color: #FFCBD8;
  opacity: 0.4;
  border-radius: 50%;
  z-index: -1;
}

.slider-block-img {
  width: 66px;
  height: 150px;
  opacity: .4;
  margin: 0 17px;
}

.slider-img-active {
  width: 306px;
  height: 507px;
  opacity: 1;
  margin: auto 19px auto 25px;
}

.slider-under-big {
  position: relative;
  width: 312px;
  height: 312px;
  top: -413px;
  left: 21px;
  /* transform: translate(-23%); */
  background-color: #FFCBD8;
  opacity: 0.4;
  border-radius: 50%;
  margin: 0;
  z-index: -1;
}

.slider-under-small {
  position: relative;
  width: 100px;
  height: 100px;
  top: -125px;
  background-color: #FFCBD8;
  opacity: 0.4;
  border-radius: 50%;
  z-index: -1;
}

.slider-footer {
  display: flex;
  justify-content: space-between;
}

.slider-footer-bullets {
  display: flex;
  justify-content: space-between;
  width: 52px;
  height: 12px;
  list-style: none;
  padding: 0;
  align-self: flex-end;
}

.slider-footer-bullet {
  width: 12px;
  height: 12px;
  background: #FCFCFC;
  border-radius: 50%;
  opacity: 30%;
}

.bullet-active {
  opacity: 100%;
}

.slider-footer-bullet-link {
  width: 12px;
  height: 12px;
  background: #FCFCFC;
  border-radius: 50%;
  opacity: 30%;
  text-decoration: none;
  line-height: 5px;
}

.slider-footer-bullet:hover {
  background: rgba(252, 252, 252, 0.3);
  outline: 1px solid #FCFCFC;
  opacity: 1;
}

.slider-footer-bullet:active {
  background: #FCFCFC;
}

.slider-footer-bullet:focus {
  background: rgba(252, 252, 252, 0.3);
  outline: 1px solid #2D3440;
}

.slider-footer-social-list {
  display: flex;
  justify-content: space-between;
  width: 104px;
  list-style: none;
  padding: 0;
}

.social-icon {
  width: 28px;
  height: 28px;
}

/* .social-icon rect {
  fill: #2D3440;
  z-index: -1;
} */

.slider-footer-bullets,
.slider-footer-social-list {
  margin: 0;
}

.slider-footer-social-item, .slider-footer-social-link {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0);
}

.social-icon:hover circle {
  fill: #2D3440;
  color: #2D3440;
}

.social-icon:active {
  color: #2D3440;
  opacity: .5;
}

.slider-footer-social-link:focus {
  outline: none;
}

.slider-footer-social-link:focus .social-icon circle {
  color: #2D3440;
}

.slider-footer-social-link:focus .social-icon rect {
  stroke: #2D3440;
  stroke-opacity: 1;
}


/* Banners */

.banners {
  margin-bottom: 81px;
}

.section-title-banners {
  margin-bottom: 55px;
}

.banner-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.banner-item {
  width: 570px;
  height: 268px;
  background-color: #FF7799;
  border-radius: 16px;
  padding: 36px 206px 36px 36px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.banner-item:first-child {
  background-image: url(../images/raspberry.png);
  margin-right: auto;
}

.banner-item:last-child {
  background-image: url(../images/marshmallow.png);
}

.banner-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 28px;
}

.banner-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 40px;
}

.banner-item-button {
  background: #FCFCFC;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  outline: 4px solid rgba(252, 252, 252, 0.4);
  border-radius: 26px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
  padding: 12px 32px;
  box-sizing: border-box;
}

.banner-item-button:hover {
  background: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
}

.banner-item-button:active {
  outline: 2px solid #2D3440;
}

.banner-item-button:focus {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
}

.banner-item-button:disabled {
  background: #E7E7E7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
}

/* Products */

.products {
 margin-bottom: 80px;
}

.section-title-poducts {
  margin-bottom: 107px;
}

.products-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 30px;
}

.product-item {
  width: 270px;
  height: 281px;
  background: #FCFCFC;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 0 40px 24px;
  display: flex;
  flex-direction: column;
}

.product-item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: 0;
  text-align: center;
}

.product-item-text {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 16px;
  margin-top: 0;
  text-align: center;
}

.product-item-img {
  order: -11;
  position: relative;
  left: 11px;
  top: -51px;
  margin-bottom: -35px;
}

.product-item-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product-item-footer-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.product-item-footer-button {
  background: none;
  padding: 0;
  width: 32px;
  height: 32px;
  border: none;
}

.product-item-footer-button-svg rect {
  color: #FF2F64;
}

.product-item-footer-button-svg path {
  color: #FCFCFC;
}

.product-item-footer-button-svg:hover rect {
  stroke: #FF2F64;
  color: #FCFCFC;
}

.product-item-footer-button-svg:hover path {
  color: #2D3440;
}

.product-item-footer-button-svg:active rect {
  stroke: #FF2F64;
  color: #FFCBD8;
}

.product-item-footer-button-svg:active path {
  color: #2D3440;
}

.product-item-footer-button:focus {
  outline: none;
}

.product-item-footer-button:focus .product-item-footer-button-svg rect {
  stroke: #2D3440;
  color: #FF2F64;
}

.product-item-footer-button:focus .product-item-footer-button-svg path {
  color: #FCFCFC;
}

.product-item-footer-button:disabled .product-item-footer-button-svg rect {
  stroke: #B9B9B9;
  color: #B9B9B9;
}

.product-item-footer-button:disabled .product-item-footer-button-svg path {
  color: #C4C4C4;
}


/* Advantages */

.advantages {
  /* height: 480px; */
  margin-bottom: 80px;
}

.section-title-advantages {
  margin-bottom: 56px;
  margin-top: 0;
}

.advantages-border {
  background-image: url(../images/waffle.jpg);
  background-repeat: no-repeat;
  border-radius: 16px;
  background-size: cover;
  padding: 24px;
  box-sizing: border-box;
}

.advantages-main {
  background-color: #fff;
  border-radius: 16px;
  height: 432px;
  padding: 56px 40px;
  box-sizing: border-box;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.advantages-item {
  width: 506px;
  height: 66px;
  display: flex;
  justify-content: space-between;
}

.advantages-item-img {
  margin-right: 16px;
  width: 48px;
  height: 48px;
}

.advantages-item:nth-child(1) {
  order: 1;
  margin-bottom: 40px;
}

.advantages-item:nth-child(2) {
  order: 3;
}

.advantages-item:nth-child(3) {
  order: 2;
}

.advantages-item:nth-child(4) {
  order: 4;
}

.advantages-item-text {
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  margin: 0;
}


/* Other */

.other {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.news {
  background-color: #ffffff;
  background-image: url(../images/aside-ice-cream.jpg);
  border-radius: 16px;
  padding: 32.59px 235px 67.15px 32px;
  box-sizing: border-box;
  width: 570px;
  height: 224px;
  background-size: 110%;
  background-position: 13px;
  background-repeat: no-repeat;
}

.news-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #565C66;
}

.news-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
}

.subscription {
  width: 570px;
  height: 224px;
}

.subscription-border {
  background-image: url(../images/ptt.jpg);
  background-repeat: no-repeat;
  border-radius: 16px;
  background-size: cover;
  padding: 6px;
  box-sizing: border-box;
}

.subscription-form {
  padding: 26px 26px 28px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.subscription-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 44px;
}

.subscription-form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscription-input {
  width: 332px;
  height: 48px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 14px 16px;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
}

.input-email::placeholder {
  color: #B9B9B9;
}

.input-email:hover {
  border: 1px solid #2D3440;
  outline: none;
}

.input-email:focus {
  outline: 2px solid #2D3440;
}

.input-email:invalid {
  border: 1px solid #EA5454;
  outline: none;
}

.input-email:invalid:hover {
  outline: 2px solid #EA5454;
  /* border: none; */
}

.input-email:disabled {
  background-color: #E7E7E7;
  border: 1px solid #B9B9B9;
  color: #2D3440;
  opacity: 0.65;
}

.input-email:disabled:hover {
  opacity: 1;
}

/* .button {
  padding: 12px 32px;
  min-width: 123px;
  background: #FF2F64;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  color: #FCFCFC;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  border: none;
  box-sizing: border-box;
} */

.button:hover {
  background: rgba(252, 252, 252, 0.3);
  outline: 4px solid #FF2F64;
  color: #2D3440;
}

.button:active {
  background: #FEAFC3;
  outline: 2px solid #2D3440;
  color: #FCFCFC;
}

.button:focus {
  background: #FF2F64;
  outline: 2px solid #2D3440;
  color: #FCFCFC;
}

.button:disabled {
  background: #B9B9B9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
  color: #565C66;
  font-weight: 400;
  font-size: 16px;
}


/* Delivery */

.delivery {
  margin-bottom: 80px;
  height: 534px;
  background-image: url(../images/dilivery-mirror.jpg);
  background-size: 103%;
  background-repeat: no-repeat;
  background-color: #ffffff;
  border-radius: 16px;
  background-position: 0 -135px;
  box-sizing: border-box;
  padding: 64px 64px 64px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delivery-block {
  width: 371px;
}

.section-block-title {
  text-align: left;
  margin-bottom: 24px;
}

.delivery-block-text {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
}

.delivery-form {
  width: 500px;
  height: 406px;
  background: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  padding: 24px 40px 42px;
  box-sizing: border-box;
  position: relative;
}

.delivery-form-text {
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  margin-bottom: 32px;
}

.delivery-form-block {
  display: flex;
  flex-direction: column;
  margin: 0;
  /* position: relative; */
}

.delivery-form-label {
  display: block;
  width: fit-content;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  margin-bottom: 8px;
  position: relative;
}

.tooltip::after {
  content: "";
  width: 14px;
  height: 14px;
  background-image: url(../images/tultip.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  transform: translate(4px, -50%);
}

.tooltip-data {
  position: absolute;
  display: none;
  top: 103px;
  left: 91px;
}

.tooltip-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #565C66;
  margin: 0;
  width: fit-content;
  position: absolute;
  top: 15px;
  left: 25px;
}

.tooltip-addres {
  position: absolute;
  display: none;
  top: 199px;
  left: 103px;
}

.tooltip-text-addres {
  top: 14px;
  right: 11px;
}

.tooltip-open {
  display: block;
}

.delivery-form-input {
  padding: 14px 16px;
  box-sizing: border-box;
  border-radius: 4px;
  background: #FFFFFF;
  border: 1px solid #B9B9B9;
  color: #2D3440;
  height: 48px;
}

.delivery-form-input::placeholder {
  color: #B9B9B9;
}

.delivery-form-input:hover {
  border: 1px solid #2D3440;
  outline: none;
}

.delivery-form-input:focus {
  outline: 2px solid #2D3440;
}

.delivery-form-input:invalid {
  border: 1px solid #EA5454;
  outline: none;
}

.delivery-form-input:invalid:hover {
  outline: 2px solid #EA5454;
  /* border: none; */
}

.delivery-form-input:disabled {
  background-color: #E7E7E7;
  border: 1px solid #B9B9B9;
  color: #2D3440;
  opacity: 0.65;
}

.delivery-form-input:disabled:hover {
  opacity: 1;
}

.delivery-form-block-up {
  display: flex;
  flex-direction: row;
}

.delivery-data {
  width: 117px;
  margin-right: 16px;
  margin-bottom: 20px;
}

.delivery-phone {
  width: 287px;
}

.delivery-addres {
  width: 420px;
  /* margin-bottom: 32px; */
}

.delivery-button {
  margin: 32px 134px 0;
}


/* Feedback */

.feedback {
  height: 492px;
  padding: 64px 763px 64px 64px;
  /* background-color: #FCFCFC; */
  background-color: #2d0b3d;
  background-image: url(../images/ice-creams.jpg);
  box-sizing: border-box;background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 -82px;
  border-radius: 16px;
  /* margin-bottom: 48px; */
}

.feedback-address {
  background-color: #FCFCFC;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 40px;
  font-style: normal;
}

.feedback-text {
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  margin: 0;
  margin-bottom: 12px;
}

.feedback-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  margin: 0;
  margin-bottom: 24px;
}

.feedback-title-phone {
  margin: 0;
  text-decoration: none;
}

.feedback-text-small {
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
  margin: 0;
  margin-bottom: 32px;
}


/* Footer */

/* .page-footer {
  display: flex;
  justify-content: center;
  padding: 48px 0;
} */

.page-footer {
  display: grid;
  grid-template-columns: 108px 299px 356px 200px 193px;
  /* margin-bottom: 48px; */
  padding: 48px 0;
}

.footer-menu {
  /* width: 332px; */
  /* margin-right: 200px; */
  /* margin-left: 323px; */
  grid-column: 3/4;
}

.footer-social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* width: 104px; */
  margin-top: -2px;
}

.footer-social-item, .footer-social-link {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0);
}

.footer-social-item:not(:last-child) {
  margin-right: 13px;
}

.social-icon:hover circle {
  fill: #2D3440;
  color: #2D3440;
}

.social-icon:active {
  color: #2D3440;
  opacity: .5;
}

.footer-social-link:focus {
  outline: none;
}

.footer-social-link:focus .social-icon circle {
  color: #2D3440;
}

.footer-social-link:focus .social-icon rect {
  stroke: #2D3440;
  stroke-opacity: 1;
}

.footer-menu-list {
  width: 356px;
  height: 48px;
  list-style: none;
  padding: 0 0 0 23px;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  flex-wrap: wrap;
  row-gap: 8px;
}

.footer-menu-item {
  width: fit-content;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.footer-menu-item:first-child {
  margin-right: 24px;
}

.footer-menu-item-bold {
  position: relative;
}

.footer-menu-item-bold::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../images/heart-fill.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  transform: translate(-24px, -50%);
}

.footer-menu-item-text {
  margin: 0;
  display: inline;
  text-decoration: none;
  color: #2D3440;
  font-size: 14px;
  line-height: 20px;
}

.footer-menu-item-text b {
  font-weight: 700;
}

.footer-copyright {
  /* width: 193px; */
  grid-column: 5/6;
  align-content: flex-start;
}

.footer-copyright-logo {
  /* margin-top: 16px; */
  margin-bottom: 8.29px;
}

.footer-copyright-text {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: #2D3440;
}

.footer-copyright-link {
  text-decoration: none;
  border-bottom: 1px solid #2D3440;
  color: #2D3440;
}
