@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

/*===========================*/

body {
  background-color: #FEAFC3;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.navigation {
  line-height: 20px;
}

.navigation-link-phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.slider-text-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slider-text-text {
  font-size: 18px;
  line-height: 24px;
}
